.containerabc {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  
  .card {
    margin-bottom: 20px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #fff;
  }
  
  .card-header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-footer {
    background-color: #f9f9f9;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }
  
  .btn-success {
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  .errmsg {
    color: red;
    font-size: 12px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .offset-lg-3 {
    margin-left: auto;
    margin-right: auto;
  }
  
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }